{
    "Database": {
        "Name": "hipFeatureToggleDb",
        "Host": "localhost",
        "Username": "postgres",
        "Password": "postgres",
        "Port": "5432"
    },
    "Auth": {
        "Audience": "https://hip.cs.upb.de/API",
        "Authority": "https://hip.eu.auth0.com/"
    }
}